.menu-container{
    display: flex;
    background-color: #3f51b5;
    flex-direction: column;
    min-height: 70px;
    flex: 1 1 100%;
    height: inherit;
    justify-content: space-between !important;

}

.Logo-accueil{
    display: flex;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nom-site{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    color: white;
}

:host {
    display: flex;
    flex:1 1;
    max-width: 100vw;
}

.le-logo{
    display: flex;
    flex:1 1 100%;
    max-width: 200px;
    max-height: 70px;
}

.comment-button{
    flex-direction: column;
    text-align: center;
    display: flex;
    flex: 1 1 10%;
    min-height: 100%;
    color: white;
    height: 100%;
}

.button-container{
    flex-direction: row;
    display: flex;
    height: 100%;
    flex: 1 1 50%;
    max-width: 50%;
}

.sidenav-button{
    color:white;
}

.sidenav-container{
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 1;
    min-height: 100%;
}

@media screen and (max-width: 1000px){
    
    .sidenav-container{
        display: flex;
    }

    .button-container{
        display: none;
    }
}