<div class="menu-container" fxLayoutAlign="start center">
    <div class="left-side">
            <a class="Logo-accueil" fxLayout="row" [routerLink]="['/']">
                <img class="le-logo" src="../../assets/images/logo-ombres.png">
        </a>
    
        <a class="Logo-accueil" fxLayoutAlign="end center" fxLayout="row" [routerLink]="['/admin-panel/client-liste']">
            <span class="logo-text" fxLayout="row">
                <span class="nom-site">Liste Clients</span>
            </span>
        </a>

        <a class="Logo-accueil" fxLayoutAlign="end center" fxLayout="row" [routerLink]="['/admin-panel/email']">
            <span class="logo-text" fxLayout="row">
                <span class="nom-site">Modifier l'email</span>
            </span>
        </a>
    </div>
        

        <div fxLayoutAlign="end center" class="button-container">
            <button mat-button type="button" mat-raised-button color="primary" (click)="logout()">se déconnecter</button>
        </div>
        
    </div>
    

