<div fxFlex="1 1 100%" fxLayout="column">
    <div class="information-container">

        <div class="form-title" fxLayout="row">
            <div fxFlexOffset="5">
                Conditions générales d'utilisation du site
            </div>
        </div>

        <div class="information">
            Sur RepriseOrdi.fr les internautes peuvent demander une estimation de rachat de leur ordinateur portable. Que celui-ci soit
            complet ou pas, fonctionnel ou pas.
            <br/>
            <br/> Après avoir donné quelques informations sur l’état de l’ordinateur ainsi que leurs noms et adresses email, iles
            internautes pourront envoyer une demande d’estimation de rachat du matériel concerné. Nous leurs proposons de
            recevoir une sauvegarde de leurs données sur un disque dur externe, sous réserve que l’état de l’ordinateur le
            permette, avec le plus grand respect de leur confidentialité.
            <br/>
            <br/> L’offre de rachat sera envoyée par email. L’utilisateurs est alors libre de l’accepter ou non. La demande d’estimation
            de reprise est sans engagement.
            <br/>
            <br/> En cas d’acceptation, la société INFORMASUR s’engage à faire un virement du montant annoncé à condition que
            les informations données au préalable correspondent bien avec les caractéristiques et l’état de l’ordinateur
            reçu.
            <br/>
            <br/> Les utilisateurs sont responsables de l'envoi de leurs ordinateurs et doivent prendre toutes les précautions
            nécessaires pour un envoi sécurisé. Un article détaillant la manière d’envoyer un ordinateur en toute sécurité
            leurs est communiqué par email avant acceptation de l’offre.
            <br/>
            <br/> Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs
            du site sont donc invités à les consulter de manière régulière. Ce site est normalement accessible à tout moment
            aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par INFORMASUR.
            Le site est totalement gratuit. Cependant afin d’utiliser ses services, via votre ordinateur ou par l’intermédiaire
            d’autres supports, vous devez disposer d’un accès à Internet au débit approprié. Les éventuels frais correspondants
            à ces accès sont à votre seule charge.
        </div>

    </div>


</div>