<!--The content below is only a placeholder and can be replaced.-->


<!--
<div class="container-fluid">
    <app-front-page></app-front-page>
</div>

<div class="container">
  <app-formulaire></app-formulaire>
</div> -->
        <div class="main-container" fxLayout="column"  >

                
                <div   fxLayoutAlign="center" fxLayout="column" >
                    <app-front-page></app-front-page>
                </div>
                

                
                    <app-formulaire></app-formulaire>

                <div class="footer-container" fxLayoutAlign="center">
                    <app-footer></app-footer>
                </div>
            
        </div>

        



