<div class="list-container">
  <mat-accordion>
    <mat-expansion-panel class="client" *ngFor="let client of listeClients">
      <mat-expansion-panel-header class="client-header">
        <mat-panel-title>
          <div class="info nom">
            {{client.nom}}
          </div>

        </mat-panel-title>
        <mat-panel-description>
          <div class="client-email">
            {{client.email}}
          </div>

          <div class={{client.etat}} >
          </div>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="panel-info">
          <mat-card>
        <div class="ordi-info">
              <div>
                  ordinateur :
                  <br/>
                  <ul>
                    <li>
                      marque: {{client.ordinateur.marque}}
                    </li>
                    <li>
                      modele: {{client.ordinateur.modele}}
                    </li>
                    <li>fonctionnel: {{client.ordinateur.fonctionnel}}</li>
                    <li>visuel: {{client.ordinateur.visuel}}</li>
                    <li>complet: {{client.ordinateur.complet}}</li>
                  </ul>
              </div>
              <div class="description-container">
                Description: <br/>
                {{client.ordinateur.description}}
              </div>
        </div>
      </mat-card>
        <div class="prix-form">
          <form [formGroup]="offreForm" (ngSubmit)="test()">
            <div>
              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label>Prix</mat-label>
                <input matInput placeholder="Offre de reprise" formControlName="prix">
                <mat-icon matSuffix>euro_symbol</mat-icon>
              </mat-form-field>
            </div>

            <div>
              <button class="mail-button" mat-button type="submit" mat-raised-button color="primary">
                <mat-icon>send</mat-icon>
                envoyer un mail
              </button>

            </div>

          </form>



        </div>

        <div class="etat-form">
          <mat-button-toggle-group [(ngModel)]="client.etat" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="traite">Traitée</mat-button-toggle>
            <mat-button-toggle value="enCours">En cours</mat-button-toggle>
            <mat-button-toggle value="nouveau">Nouveau</mat-button-toggle>
          </mat-button-toggle-group>
        </div>


      </div>


    </mat-expansion-panel>
  </mat-accordion>
</div>