:host {
    flex:1 1 100%;
    display: flex;
  }

  .list-container{
    flex:1 1 100%;
    display: flex;
    flex-direction: column;
  }

  .panel-info{
    flex:1 1 100%;
    display: flex;
    flex-direction: row;
  }
  .ordi-info{
    flex:1 1 50%;
    display: flex;
    flex-direction: row;
  }

  .nouveau, .traite, .enCours{
      display: flex;
      border-radius:50%;
      width:25px;
      height:25px;
  }
  .client-email{
    flex: 60%;
  }

  .prix-form{
      flex: 1 1 25%;
      justify-content: center;
      align-items: center;
      margin-left: 2%;
  }

  .etat-form{
    display: flex;
    flex: 1 1 25%;
    align-items: center;
    flex-direction: column;
  }

  .mail-button, .description-container{
      margin-left: 3%;
  }

  .form{
    display: flex;
    flex-direction: column;
  }

  .nouveau{
    background-color: #00B1FF;
  }

  .traite{
    background-color: #7AFAB0;
  }

  .enCours{
    background-color: #d14836;
  }