<div class="front-container" [style.width.px]="screenWidth" [style.height.px]="screenHeight-70" fxLayout="column" fxLayoutAlign="center" >

        <div class="text-container" fxLayout="row" fxFlex="60">
                <div class=text fxFlex="50">
                        On reprend votre ordinateur jusqu'à 150 euros !!!!
                </div>

        </div>

        <div class="button-container">

                <div class="button-scroll" fxFlexAlign="end center">
                        <button (click)="scrollToBottom(1000)" mat-button mat-raised-button color="primary">Demander une offre !</button>
                </div>
        </div>


</div>

<app-form-container></app-form-container>