<div class="front-container" [style.width.px]="screenWidth" [style.height.px]="screenHeight-76" >
        
        <h1 class="title-front">Récupérez de l’argent en revendant votre ancien ordinateur portable !</h1>
        

        <div class="subtitle-front">
                Simple, rapide et sans engagement. Complet ou pas, fonctionnel ou pas, obtenez une offre de reprise personnalisée.

                <div class="button-container">

                        <div class="button-scroll" fxFlexAlign="end center">
                                <button [@fade]="state" (@fade.done)="onDone($event)" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" class="buttons" (click)="scrollToBottom(1000)" mat-button mat-raised-button color="accent">
        
                                        <div class="button-content">
                                                <p class="text-button">
                                                        Revendre mon ordi
                                                </p>
                                                <mat-icon>arrow_downward</mat-icon>
                                        </div>
                                </button>
                        </div>
                </div>
        </div>

       

        <!--
        
        <div class="text-container" fxLayout="row">
                <div class="left-container" fxLayout="column">
                        
                        
                        
                </div>

                
                <div class=text fxFlex="50">
                        On reprend votre ordinateur jusqu'à 150 euros !!!!
                </div>
                
        </div>
        -->



</div>

<app-form-container></app-form-container>