.front-container{
    display: flex;
    flex:1 1 100%;
    background-image: url(../../assets/images/FrontPageSized.png);
    background-size: cover;
    background-repeat: inherit;
    /*background-size: auto;*/
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*align-items: center;*/
    flex: 1 1;
}

.button-scroll{
    padding: 3%;
    display: flex;
    padding-left: 0;
}

.buttons{
    border-radius: 55px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: inline-flex;
}


.text-container{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: center;
    flex: 1 1;

    /*pour le mode new*/
    margin-left: 5%;
    max-width: 40%;
    
}

.text{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex: 1 1 100%;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    /*color: White;*/
    /*background: rgba(0, 0, 0, 0.5) none repeat scroll 0 center;*/
    border-radius: 10px;
    height: 75%;   
    padding: 10px;
    /*text-align: center;*/
}

:host {
    flex:1 1 100%;
}

.text-button{
    display: flex;
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 18px;
    line-height: 1.3333;
    margin-right: 2%;
}

.button-content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.title-front{
    font-family: 'Google Sans',arial,sans-serif;
    font-size:48px;
    font-weight: 400;
    line-height: 48px;
    color: #424242;
    text-align: left;
}

.subtitle-front{
    margin-top: 5%;
    color:rgb(66, 66, 66);
    font-family: 'Google Sans',arial,sans-serif;
    font-size:16px;
    text-align: left;
}

