/*.image {
	background-image: url(../images/lake-louise.jpg);
    background-color: #f9f9f9;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    height: 100%;
    max-height: 75%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    
}*/

.front-container{
    display: flex;
    background-image: url(../images/laptop.jpg);
    background-size: cover;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.button-scroll{
    padding: 3%;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: White;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 center;
    border-radius: 10px;
    height: 75%;   
    padding: 10px;
    text-align: center;
}



