.front-container{
    display: flex;
    background-image: url(../../assets/images/laptop.jpg);
    background-size: cover;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.button-scroll{
    padding: 3%;
    display: flex;
}

.buttons{
    border-radius: 55px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: inline-flex;
}


.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: White;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 center;
    border-radius: 10px;
    height: 75%;   
    padding: 10px;
    text-align: center;
}

:host {
    flex:1 1 100%;
}

.text-button{
    display: flex;
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 18px;
    line-height: 1.3333;
    margin-right: 2%;
}

.button-content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


