<div class="form-container">
  <form [formGroup]="clientForm" (ngSubmit)="onFormSubmit(clientForm.value)" fxFlex="100">

    <div class="form-title">
      <div fxFlexOffset="5">
        Formulaire de Renseignement
      </div>
    </div>

    <div class="perso-container">
      <div class="input-container" fxLayout="column">

      <h2>Votre ordinateur: </h2>

      <mat-form-field appearance="legacy" class="example-full-width">
        <mat-label>Marque</mat-label>
        <input matInput placeholder="Asus, Apple, Dell..." formControlName="marque">
        <mat-error>
          <span *ngIf="!clientForm.get('marque').valid && clientForm.get('marque').touched">Veuillez indiquer la marque de votre ordinateur</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="example-full-width">
        <mat-label>Modèle</mat-label>
        <input matInput placeholder="Asus, Apple, Dell..." formControlName="modele">
        <mat-error>
          <span *ngIf="!clientForm.get('modele').valid && clientForm.get('modele').touched">Veuillez indiquer le modèle de votre ordinateur</span>
        </mat-error>
      </mat-form-field>

      <div class="radio-container">
        <label class="radio-label">Votre ordinateur est il complet ? (Il possède tous ses composants: clavier, écran, dalle, touches...)</label>
        <mat-radio-group formControlName="complet" ngModel required>
          <mat-radio-button value="true">oui</mat-radio-button>
          <mat-radio-button value="false" style="margin-left: 2px;">non</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radio-container">
        <label class="radio-label">Votre ordinateur est il fonctionnel ?</label>
        <mat-radio-group formControlName="fonctionnel" ngModel required>
          <mat-radio-button value="true">oui</mat-radio-button>
          <mat-radio-button value="false" style="margin-left: 2px;">non</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radio-container">
        <label class="radio-label">Votre ordinateur est il en bon état visuel ? (Pas d'écran cassé, de fissure dans la coque...)</label>
        <mat-radio-group formControlName="visuel" ngModel required>
          <mat-radio-button value="true">oui</mat-radio-button>
          <mat-radio-button value="false" style="margin-left: 2px;">non</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="description-container">
        <mat-form-field>
          <textarea matInput placeholder="Description, détails, autres.." formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <h2>Informations personnelles</h2>

      <mat-form-field appearance="legacy" class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput type="email" placeholder="Adresse Email" formControlName="email">
        <mat-hint>Nous ne dévoilerons votre adresse à personne.</mat-hint>
        <mat-error>
          <span *ngIf="!clientForm.get('email').valid && clientForm.get('email').touched">Veuillez saisir une adresse email</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="example-full-width">
        <mat-label>Nom Complet</mat-label>
        <input matInput placeholder="Nom et Prénom" formControlName="nom">
        <mat-error>
          <span *ngIf="!clientForm.get('nom').valid && clientForm.get('nom').touched">Veuillez saisir votre nom</span>
        </mat-error>
      </mat-form-field>

        <div class="button-container">
          <button mat-button type="submit" [disabled]="!clientForm.valid" mat-raised-button color="primary">Obtenir une estimation</button>
        </div>
      
        <div class="error">
          <mat-error>
            <span *ngIf="error">L'adresse email que vous avez indiqué est déjà utilisée.</span>
          </mat-error>
        </div>
        

        

      </div>

      <div class="image-formulaire">
          <img src="../../assets/images/desktop-1389979.png" style="width:80%;">
      </div>

    </div>



  </form>

  



</div>


<div class="information-container">

  <div class="form-title" fxLayout="row">
    <div fxFlexOffset="5">
      Comment ça marche ?
    </div>
  </div>

  <div class="information">
    Pour recevoir une offre de reprise de la part de notre équipe, veuillez renseigner vos coordonnées ainsi que les caractéristiques
    de votre ordinateur. Une offre de reprise pour votre ordinateur vous sera alors envoyée par email par l'un de nos conseillers
    dans les prochains jours. En cliquant sur le bouton "obtenir une offre", vous ne vous engagez en RIEN si ce n'est à revevoir
    une proposition de reprise, vous pourrez par la suite accepter ou refuser l'offre que nous vous ferons.
  </div>


<mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           FAQ1
          </mat-panel-title>
          <mat-panel-description>
            Résumé de la question
          </mat-panel-description>
        </mat-expansion-panel-header>
    La réponse tout en long
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
             FAQ2
            </mat-panel-title>
            <mat-panel-description>
              Résumé de la question
            </mat-panel-description>
          </mat-expansion-panel-header>
      La réponse tout en long
        </mat-expansion-panel>
    </mat-accordion>

  

</div>