<div fxLayout="column" fxFlex="100">

  <div class="information-container" fxFlex="80">

    <div class="form-title" fxLayout="row">
      <div fxFlexOffset="5">
        Mentions Légales de www.repriseordi.fr
      </div>
    </div>

    <div>
      <h2>OBJET DU SITE</h2>
      <div class="information">
        Le site Internet www.repriseordi.fr est un site de reprise d'ordinateur accessible par le réseau Internet. Il permet à des
        internautes ou utilisateurs naviguant sur le site de demander une offre de reprise pour leur ordinateur.
      </div>
    </div>

    <div>
      <h2>LOCALISATION</h2>
      <div class="info-location">

        <div class="part-info-location">
          <strong>Siège social</strong>
          INFORMASUR
          <br/> 173 RUE ANATOLE FRANCE
          <br/> 69100 VILLEURBANNE
          <br/>
          <br/> SARL au capital de 12 000 €
          <br/> RCS de Lyon: 753 883 297
          <br/> SIREN: 753 883 297
          <br/> SIRET: 753 883 297 00032
          <br/> №TVA: FR37753883297
          <br/> Fichier Client/Prospect déclaré CNIL №1629160
          <br/>
        </div>

        <div class="part-info-location">
          <strong>Adresse de communication : Bureau / Entrepôt </strong>
          INFORMASUR
          <br/> à BEL AIR CAMP
          <br/> 11 AVENUE DE BEL AIR
          <br/> 69100 VILLEURBANNE
          <br/>
          <br/> SIREN: 753 883 297
          <br/> SIRET: 753 883 297 00057
          <br/>
        </div>
      </div>
    </div>

    <div>
      <h2>EDITEUR</h2>
      <div class="part-info-location">
        <strong>INFORMASUR</strong>
        <br/> 173 RUE ANATOLE FRANCE
        <br/> 69100 VILLEURBANNE
        <br/>
        <br/> SARL au capital de 12 000 €
        <br/> RCS de Lyon: 753 883 297
        <br/> SIREN: 753 883 297
        <br/> SIRET: 753 883 297 00032
        <br/> №TVA: FR37753883297
        <br/> Fichier Client/Prospect déclaré CNIL №1629160
        <br/>
      </div>
    </div>

    <div>
      <h2>PROPRIETE INTELLECTUELLE</h2>
      <div class="information">
        Tous les éléments du site "www.repriseordi.fr" sont et restent la propriété intellectuelle exclusive de la société Informasur.
        Personne n'est autorisée à reproduire, exploiter, rediffuser, ou utiliser à quel que titre que ce soit, même partiellement,
        des éléments du site qu'ils soient visuels ou sonores. Tout lien extérieur devra être retiré sur simple demande faite
        à la société Informasur.
      </div>
    </div>

    <div>
      <h2>DONNEES NOMINATIVES</h2>
      <div class="information">
        Conformément à la Loi Informatique et Liberté №78-17 du 6 Janvier 1978 relative à l'informatique, aux fichiers et aux libertés,
        le consommateur dispose d'un droit d'accès, de rectification et d'opposition à propos de toute donnée nominative
        le concernant. Pour cela, il faut adresser un email à client@repriseordi.com ou un courrier à l'adresse : SARL INFORMASUR
        11 AVENUE DE BEL AIR 69100 VILLEURBANNE. Les informations le concernant seront alors retirées sous 30 jours à compter
        de la réception de sa demande. Il est possible que Le Site fasse usage de cookies afin d'améliorer l'expérience que
        les clients auront du service. Pour désactiver cette option, il faut vous rendre dans les préférences de votre navigateur
        web où vous pouvez désactiver cette option. Toutes les écrits, graphismes, logos, photos, vidéos, etc. visibles sur
        Le Site sont la propriété exclusive de la société Informasur. Aucune utilisation par un tiers sans en avoir fait
        la demande express par écrit ou par email ne pourra être tolérée. Le Site se réserve d'ailleurs le droit d'accepter
        ou non à un tiers cette autorisation. Le fait d'être client de la société Informasur ne donne pas droit à la propriété
        intellectuelle du Site.
      </div>
    </div>


  </div>
</div>