<div class="button-container">
            
    <button mat-button class="comment-button" (click)="scrollToForm()">
       Obtenir une offre
    </button>

    <button mat-button class="comment-button" (click)="scrollToFAQ()" >
        Comment ça marche ?
    </button>

    <button mat-button class="comment-button" (click)="redirectQui()">
        Qui sommes nous ?
    </button>

    <button mat-button class="comment-button" (click) = "redirectContacts()" >
        Nous contacter
    </button>

</div>