<div fxLayout="column">
  <div class="information-container">

    <div class="form-title" fxLayout="row">
      <div fxFlexOffset="5">
        Qui sommes nous ?
      </div>
    </div>

    <div class="information">
      <div>
        RepriseOrdi.fr est un site appartenant à la société INFORMASUR, spécialisée dans la vente de matériel informatique et high-tech.
        Ce site a vocation à racheter des ordinateurs portables aux particuliers comme aux professionnels. Que ces ordinateurs
        soient en parfait état de fonctionnement ou pas, qu'ils soient complets ou pas et qu'ils soient intacts visuellement
        ou pas. Nous offrons la possibilité de récupérer les données contenues dans les PC ou Mac, dans la mesure où leur
        état le permet. Ces dernières seront alors envoyées dans un disque dur externe. Les offres de reprises sont élaborése
        et personnalisés en fonction des réponses renseignées par l'internaute sur le site. Le paiement se fait sous réserve
        que l'ordinateur réceptionné corresponde bien avec les renseignements donnés au préalable. Pour plus d’informations,
        consulter notre paragraphe <a class="lien-button"role="button" (click)="scrollToFAQ()">Comment ça marche</a>.
      </div>
      <br/>
      RepriseOrdi.fr s’inscrit dans un circuit de revalorisation du matériel informatique :

      <mat-list>
        <mat-list-item>
          en donnant une seconde vie aux pièces détachées.

        </mat-list-item>
        <mat-divider> en recyclant ce qui peut l’être.
        </mat-divider>
        <mat-list-item>en éliminant les déchets restant selon les règles en vigueur pour la protection de l’environnement.
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Ce site vient compléter un ensemble de site créés par la société INFORMASUR liés à l’univers informatique :
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Vente de pièces détachées pour ordinateurs portables : &nbsp;<a href="https://www.touchedeclavier.com"> www.touchedeclavier.com</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Conseil et vente d’ordinateurs portables reconditionnés via un chatbot : &nbsp;<a href="https://mauriceinformatique.com/"> www.mauriceinformatique.com</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Blog d’information relatif à l’informatique : &nbsp;<a href="https://blog.touchedeclavier.com"> blog.touchedeclavier.com</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Un site de vente en lots de matériel informatique et high-tech pour les professionnels : à venir</mat-list-item>
      </mat-list>



    </div>
  </div>
</div>