<div fxLayout="column">
  <div class="information-container">

    <div class="form-title" fxLayout="row">
      <div fxFlexOffset="5">
        Qui sommes nous ?
      </div>
    </div>

    <div class="information">
      <div>
        RepriseOrdi.fr est un site appartenant à la société INFORMASUR, spécialisée dans la vente de matériel informatique et high-tech.
        <br/>
        <br/>
        Ce site a vocation à racheter des ordinateurs portables aux particuliers comme aux professionnels. Que ces ordinateurs
        soient en parfait état de fonctionnement ou pas, qu'ils soient complets ou pas et qu'ils soient intacts visuellement
        ou pas.
        <br/> 
        <br/>
        Nous offrons la possibilité de récupérer les données contenues dans les PC ou Mac, dans la mesure où leur état le
        permet. Ces dernières seront alors envoyées dans un disque dur externe.
        <br/> 
        <br/>
        Les offres de reprises sont élaborées et personnalisées en fonction des réponses renseignées par l'internaute sur
        le site. Le paiement se fait sous réserve que l'ordinateur réceptionné corresponde bien avec les renseignements donnés
        au préalable.
        <br/> 
        <br/>
        Pour plus d’informations, consulter notre paragraphe
        <a class="lien-button" role="button" (click)="scrollToFAQ()">Comment ça marche</a>.
      </div>
      <br/> RepriseOrdi.fr s’inscrit dans un circuit de revalorisation du matériel informatique :

      <u style="text-decoration: none;">
        <li>
          en donnant une seconde vie aux pièces détachées.
        </li>
        <li>
          en recyclant ce qui peut l’être.
        </li>
        <li>
          en éliminant les déchets restant selon les règles en vigueur pour la protection de l’environnement.
        </li>
      </u>
      <br/> Ce site vient compléter un ensemble de sites créés par la société INFORMASUR liés à l'univers informatique :
      <u style="text-decoration: none;">
        <li>
          Vente de pièces détachées pour ordinateurs portables : &nbsp;
          <a href="https://www.touchedeclavier.com"> www.touchedeclavier.com</a>
        </li>
        <li>
          Conseil et vente d’ordinateurs portables reconditionnés via un chatbot : &nbsp;
          <a href="https://mauriceinformatique.com/">
          www.mauriceinformatique.com</a>
        </li>
        <li>
          Blog d’information relatif à l’informatique : &nbsp;
          <a href="https://blog.touchedeclavier.com"> blog.touchedeclavier.com</a>
        </li>
        <li>
          Un site de vente en lots de matériel informatique et high-tech pour les professionnels : à venir
        </li>
      </u>

    </div>
  </div>
</div>